
body{
    background-color: azure;
}


h1{
    text-align: center;
}
h1:hover{
    color: gray;
}


#section{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.numbers{
    padding-right: 10px;
}
/* 
#button{
    
} */
.second_div{
    position: inherit;
    margin-left: 20px;

}